$primary: #29db47;
$secondary: #65fc74;
$background: #57d97e;
$text: #6cf08b;
$accent: #57fa93;

$yellow: #eaf58e;
$light-green: #89e08b;
$aquamarine: #49f5d0;
$powder-blue: #368be0;
$purple: #9375ff;
$bright-blue: rgb(15, 119, 255);


