@import "../../styles/_sass/palette/palette";

.plantCard {
  border: 2px solid black;
  border-radius: 44px;
  align-self: flex-start;
  padding: 1%;
  margin: auto;
}

.plantCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.plantContainer {
  display: flex;
  flex-flow: wrap;
  /* flex-direction: column-reverse; */
}

.plantImage {
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: 2%;
}
.plantDataDiv {
  border: 2px solid black;
  border-radius: 17px;
  flex-grow: 0;
  align-self: flex-start;
  padding: 1%;
  margin: 0.7%;
  background-color: $light-green;
}

.container {
  display: flex;
  /* flex-direction: column-reverse; */
  justify-content: center;
  text-align: center;
  margin: auto;
}
