.plantCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.plantCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.plantContainer {
  display: flex;
  flex-flow: wrap;
  /* flex-direction: column-reverse; */
  align-content: space-between;
}

.plantImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding: 0.2%;
}

.plantDataDiv {
  border: 2px solid black;
  border-radius: 17px;
  flex-grow: 0;
  align-self: flex-start;
  padding: 1%;
  margin: 0.7%;
}
