.plantImage {
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: 2%;
}

.plantDataDiv {
  border: 2px solid black;
  border-radius: 17px;
  flex-grow: 0;
  align-self: flex-start;
  padding: 1%;
  margin: 0.7%;
}

.container {
  display: flex;
  flex-flow: wrap;
  /* flex-direction: column-reverse; */
  align-content: space-between;
}
