.plantImage {
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: 2%;
}

.container {
  display: flex;
  flex-flow: wrap;
  /* flex-direction: column-reverse; */
  align-content: space-between;
}
