@import "../_sass/palette/palette";

.getPlants {
  background-color: $accent;
  color: $brown-text;
  border: 3px solid $primary;
  border-radius: 13px;
  text-decoration: underline;
  width: fit-content;
  margin: 0.1%;
  &:hover {
    background-color: $background;
    color: white;
  }
  &:active {
    background-color: $aquamarine;
  }
}

.getPlantDetails {
  background-color: $brown-text;
  color: white;

  border-radius: 13px;
  text-decoration: wavy;
  width: fit-content;
  margin: 0.2%;
  &:hover {
    background-color: $primary;
    color: white;
  }
  &:active {
    background-color: $light-green;
  }
}
